<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <h1>Something went wrong!</h1>
    <p class="">We are trying to fix that problem.Sorry for inconvenience..</p>

<%- include('includes/end.ejs') %>